body {
	background-color: #f4eeee;
	color: blue;
}

.container {
	width: 285px;
	border: 1px solid white;
	padding: 60px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 2px 6px 285px lightgrey;
	/* to center the container */ 
	margin: auto;
}

.container * {
	display: block;
	margin: auto;
}

.container >2a {
	display: inline;
}

.container p{
	padding: 30px 8px;
}

.container img{
	padding-bottom: 40px;
}

button {
	padding: 15px 30px;
	box-radius: 10px;
	box-shadow: 1px 4px 6px lightgrey;
	background-color: pink;
}

button a {
	color: white;
	font-weight:  bold;
	font-size: 13px;
}

